.venv/
__pycache__/
*.pyc
.pytest_cache/
.dist/
build/
*.egg-info/
results/
*.json
*.csv

papers/related/*
papers/**/*.aux
papers/**/*.out
papers/**/*.log
papers/**/*.pdf
papers/**/*.bbl
papers/**/*.blg
papers/**/*.png
papers/**/*Zone.Identifier
papers/**/author_config.tex
